@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.magic {
  background-color: #f9ca24;
  color: #fff;
  font-family: inherit;
  border: 0;
  font-size: 16px;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;
  position: fixed;
  top: 20px;
  box-shadow: 0 3px rgba(249, 202, 36, 0.5);
  z-index: 100;
}

.magic:focus {
  outline: none;
}

.magic:active {
  box-shadow: none;
  transform: translateY(2px);
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  justify-content: space-around;
  position: relative;
  transition: 0.4s ease;
}

.boxes.big {
  height: 450px;
  width: 450px;
}

.boxes.big .box {
  transform: rotateZ(360deg);
}

.box {
  background: url(https://media.giphy.com/media/EZqwsBSPlvSda/giphy.gif);
  background-repeat: no-repeat;
  background-size: 400px 400px;
  height: 100px;
  width: 100px;
  position: relative;
  transition: 0.4s ease;
}

.box::after {
  content: '';
  position: absolute;
  background-color: #f6e58d;
  top: 5px;
  right: -9px;
  height: 100%;
  width: 9px;
  transform: skewY(45deg);
}

.box::before {
  content: '';
  position: absolute;
  background-color: #f9ca24;
  left: 5px;
  bottom: -9px;
  width: 100%;
  height: 9px;
  transform: skewX(45deg);
}
